<div class="container-fluid">
  <div class="login-form-outer">
    <div class="login-form">
      <h3>Customer Login</h3>
      <p>This section provides you with personalised access to documents and other materials related to your account.
      </p>
      <span>You have been logged out of the system</span>
      <form class="login-form-inner">
        <div class="form-group">
          <label for="exampleInputEmail1">Username:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small class="form-text error-msg">Please enter your username</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password:</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
          <small class="form-text error-msg">Please enter your password</small>
        </div>
        <button type="submit" class="enter-btn">Enter</button>
      </form>
      <a href="javascript:void(0);" class="forgotPassLink">Forgotten password</a>
    </div>
  </div>
</div>