/* You can add global styles to this file, and also import other style files */

.login-form-outer{width:100%;height:auto;float:left;margin-top:30px;border-top:1px solid #70faf1;padding-top:30px}
.login-form{width:500px;height:auto;float:left;border:2px solid #70faf1;border-radius:5px;overflow:hidden;padding:30px 10px 50px;position:relative;left:50%;transform:translateX(-50%);text-align:center;margin-bottom:20px;}
.error-msg{color:red}
.login-form > h3{padding-bottom:10px;border-bottom:1px solid #cecece;margin-bottom:20px}
.login-form > p{color:#7d7a77;font-size:16px;line-height:21px}
.login-form > span{color:#ad343c;font-size:16px;line-height:21px;font-weight:700;margin-bottom:20px;float:left;width:100%}
.login-form .form-control{border:1px solid #ad343c}
.login-form label{margin-bottom:.2rem;color:#7d7a77;font-size:15px}
a.forgotPassLink,a.forgotPassLink:link,a.forgotPassLink:visited{color:#7d7a77;font-size:16px;line-height:21px}
.enter-btn{border:0;outline:0;background:#009b91;border-radius:3px;overflow:hidden;color:#fff;text-transform:uppercase;font-size:14px;line-height:14px;padding:7px 12px;margin-bottom:20px}
.login-form-inner{padding:0 30px}


@media(max-width:520px){
.login-form{width:100%;}
}